.site-footer {
    background: $color__black;
    .site-info {
        background-color: white;
        text-align: center;
        padding: .3rem 0;
    }
}

.footer-content {
    max-width: $width-wrapper;
    margin: auto;
    padding-top: 1rem;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; //align items according to the imaginary baseline
}

.footer-logo {
    /*flex-grow: 1;*/
}

.footer-logo-description {
    /*flex-grow: 1;*/
}

.footer-search {
    flex-grow: 1;
    text-align: right;
}

.footer-navigation {
    flex-basis: 60%;
    margin: 2rem 0;
}

.social-navigation {
    flex-basis: 20%;
    margin: 2rem 0;
    text-align: right;
}

.menu-footer, .menu-social {
    display: flex;
    flex-flow: row nowrap;
    li {
        flex-grow: 1;
    }
}

.footer-footnote {
    flex-basis: 100%;
}
    
