.site-footer {
    max-width: $width-wrapper;
    @include margin-x(2%);
    
    @media screen and (min-width: $query__desktop-large) {
        @include margin-x(auto);
    }
    
    .footer-logo {

        /* Make sure logo link wraps around logo image. */
        .custom-logo-link {
            display: inline-block;
        }

        img {
            width: 50px;
            height: auto;
            vertical-align: bottom;
        }
    }
    
    .footer-footnote { margin-top: 2rem; }
    
    @media screen and (max-width: $query__tablet) {
        text-align: center;

        .footer-nav-container {
            margin-top: 2rem;
        }
    }
        
    @media screen and (min-width: $query__tablet) {
        .footer-content {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            .footer-logo {
                flex-grow: 1;
            }

            .footer-footnote {
                flex-basis: 100%;
            }
        }
    }
    
    .footer-content {

        
        .footer-nav-container {
            
        }
        
        .footer-footnote {
            
        }
    }
    
    .site-info {
        text-align: center;
        @include padding-y(.3rem);
    }
}