/*******************************************************************/
/*                                                                 */
/*                       HEADER LAYOUT                             */
/*                                                                 */
/*******************************************************************/

.site-header {
    height: 100vh;
    position: relative;
    
    
    // On mobile, site-header will span the entire window height with the logo and menu button on top and content in the middle
    @media screen and (max-width: $query__desktop-small) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        
        hr, .header-demo {
            display: none;
        }
        
        .site-branding, .main-navigation {
            margin-top: 26px;
        }
        
        .main-navigation {
            @media screen and (max-width: $query__phone-large) {
                margin-top: 20px;
            }
        }
        
        .header-content {
            text-align: center;
        }
    } // end of mobile view =====================================
    
    
    // From tablet size, the phone-demo-screenshot will appear and be on the right side
    @media screen and (min-width: $query__desktop-small) {
        height: 580px; 
        padding-top: 1rem;
        
        display: table;
        width: $query__desktop-large;
        @include margin-x(auto);
        
        @supports (display: grid) {
            display: grid;
            grid-template-rows: 100px 30px auto;
            grid-template-columns: 1fr minmax(min-content,800px) minmax(min-content,400px) 1fr;
            justify-content: center;
            align-items: center;
            padding-top: 0;
            width: initial;
        }
    } // end of min-width-tablet ==================================
    
    
    // Put a semi-transparent colored-gradient background on site-header (inside pseudo element :before)
    // The reason this method was chosen (instead of simply putting a multi-background) is because 
    // on single (posts & pages), the post-thumbnails are coming off of the page and will be visible only with the method chosen here.
    &:after {
        content: "";
        background: linear-gradient(to bottom right, $color__violetred, $color__weborange);
        opacity: .8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -100;
    }
    
    
    // Image in the background of site-header
    .header-background {
        img {
            position: absolute;
            height: 100%;
            width: 100vw;
            top: 0;
            z-index: -101;

            @supports (object-fit: cover) {
                object-fit: cover;
                object-position: 50% 70%;
            }
        }
    }
    
    
    // Create a menu bar with the logo on the left and the menu on the right
    .site-branding { 
        width: 50%;
        flex-basis: 51%;
        
        @supports (display: grid) {
            grid-column: 2/3;
            width: auto;
        }
    }
    
    .site-title {
        margin: 0;
        
        img {
            width: 40px;    
            @media screen and (min-width: $query__phone-large) {
                width: 50px;
            }
            height: auto;
            vertical-align: bottom;
        }
    }
    
    a, p, span {
        color: $color__white-lighter;
    }
    
    .main-navigation {
        display: table-cell;
        width: 50%;
        flex-basis: 41%;
        
        @supports (display: grid) {
            grid-column: 3/4;
            width: auto;
        }
    } // end of menu bar ======================================
    
    hr {
        align-self: start;
        display: table-row;
        
        @supports (display: grid) {
            grid-column: 2/-2;
        }
    }
    
    
    // The attention-catcher
    .header-content {
        flex-basis: 100%;
        /*display: table-cell;*/
        width: 50%;
        
        @supports (display: grid) {
           grid-column: 2/3;
           width: auto;
        }
    } // end of the attention catcher =========================
    
    
    // The phone-demo-screenshot
    .header-demo {
        justify-self: end;
        position: absolute;
        top: 130px;
        right: 0;
        
        @supports (display: grid) {
            grid-column: 3/4;
        }
    } // end of the phone-demo-screenshot =========================
    
    // put margin-x on header components on smaller screens
    .site-branding, .main-navigation, .header-content, .header-demo {
        @include margin-x(2%);
    }
}


// On single views, site-header has a shorter height 
body:not(.home) .site-header {
    height: 400px;
}
