/* 
    Created on : Jun 24, 2018, 12:14:29 PM
    Author     : Maggie
*/

.site-header {
    min-height: 100vh; 
    /*overflow: hidden;*/
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr minmax(min-content,600px) minmax(min-content,400px) 1fr;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    &::after {
        content: " ";
        background: linear-gradient(to bottom right, $color__weborange, $color__violetred);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        z-index: -100;
    }
    
    &>img {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        bottom: 0;
        left: 0;
        z-index: -101;
    }
    
    .site-branding { grid-column: 2/3; }
    
    h1.site-title {
        margin: 0;
        font-weight: 600;
        img {
            width: 35px;
            height: auto;
            vertical-align: middle;
        }
        a { color: $color__white-lighter; }
    }
    
    a, p, span {
        color: $color__white;
    }
    
    .main-navigation {
        /*justify-self: end;*/
        grid-column: 3/4;
        text-align: center;
        
        .menu-header {
            display: flex;
            flex-flow: row wrap;
            li {
                flex-grow: 1; 
                a{ padding-bottom: .5rem; }
            }
            
            .current-menu-item a, a:hover {
                box-shadow: 0 -3px inset $color__white-dark;
                color: $color__white-dark;
            }
        }
    }
    
    hr {
        grid-column: 2/ -2;
        align-self: start;
    }
    
    .header-content {
        grid-column: 2/3;
        justify-self: start;
        align-self: start;
        text-align: center;
        
        .big {
            @include font-size(1.5); 
        }
        
        .bigger { 
            @include font-size(3); 
            font-weight: 600;
        }
        
        a {
            @include font-size(.9);
            display: inline-block;
            text-transform: uppercase;
            margin: 2rem 1.5rem;
            padding: 1rem 1.5rem;
            background: $color__blue-dark;
            border-radius: 2rem;
            transition: all .5s ease;
            
            &:hover {
                background: $color__blue-darker;
            }
        }
    }
    
    .header-demo {
        grid-column: 3/4;
        justify-self: end;
        position: absolute;
        bottom: -10rem;
    }
}
