input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__black;
	border: 1px solid $color__white-dark;
	border-radius: 3px;
	padding: 5px;

	&:focus {
		color: $color__black-light;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
## CONTACT (NINJA) FORM LAYOUT
--------------------------------------------------------------*/

.nf-form-cont {
    input[type="text"], input[type="email"], textarea {
        @media screen and (min-width: $query__tablet) {
            @include font-size(.9);
        }
        
	border: 1px solid $color__white-dark;
    }
    
    .nf-form-fields-required {
        margin-bottom: 1rem;
    }
    
}
