p {
	margin-bottom: .5rem;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__main;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__main;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

/*--------------------------------------------------------------
## Define all the font-size variations (for convenient purposes)
--------------------------------------------------------------*/

big, .big {
	font-size: 125%; //1.25rem
}

.intro-step .big { font-weight: 600; }

.bigger {
	font-size: 150%; //1.5rem
}

small, .small {
	font-size: 90%; //0.9rem
}

.smaller {
	font-size: 85%; //0.85rem
}

.smallest {
	font-size: 70%; //0.7rem
}


/*--------------------------------------------------------------
## Typography for header content
--------------------------------------------------------------*/
.header-content {
    p:first-of-type {
        @include font-size(3); 
        font-weight: 600;
    }
    
    p:last-of-type {
        @include font-size(1.5); 
    }
}


/*--------------------------------------------------------------
## Typography for entry meta, entry footer and recent post meta
--------------------------------------------------------------*/

.entry-meta, .entry-footer, .recent-post-meta {
    @include font-size(.9);
    font-weight: 500;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
## Typography for entry meta on single page (inside site-header)
--------------------------------------------------------------*/

.single .entry-meta {
    @include font-size(1);
    color: $color__white-lighter;
}


/*--------------------------------------------------------------
## Typography for menu and nav links
--------------------------------------------------------------*/

.menu-footer a, .menu-social a, .site-info {
    @include font-size(.85);
}

.footer-footnote {
    @include font-size(.7);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
    p {
        margin: 0;
        color: $color__white;
    }
}

.footer-logo-description {
    margin-left: .5rem;
    color: $color__white;
    @include font-size(.9);
}