h1, h2, h3, h4, h5, h6 {
	clear: both;
        font-family: $font__heading;
}

.site-header .site-title {
    font-family: $font__heading;
    @include font-size(2);
    font-weight: 600;
    a { color: $color__white-lighter; }
}

.intro-app-text h2, .intro-step-heading, .section-title {
    @include font-size(3);
}

.widget-title, .section-title {
    color: $color__red;
    /*text-align: center;*/
}   

.single .entry-title, .page .entry-title, .archive .page-title, .search .page-title {
        @include font-size(3);
        color: $color__white-lighter;
    }

