h1, h2, h3, h4, h5, h6 {
	clear: both;
        font-family: $font__heading;
}

.site-header .site-title, .site-footer .footer-logo {
    font-family: $font__heading;
    @include font-size(2);
    font-weight: 600;
}

.site-header .site-title a { 
    color: $color__white-lighter; 
}

.site-footer .footer-logo a {
    color: $color__black; 
}

.intro-app-text h2, .intro-step-heading, .section-title {
    @include font-size(2.5);
    line-height: 1.15;
    margin-bottom: 1rem;
    
    @media screen and (min-width: $query__tablet) {
        @include font-size(3);
    }
}

.widget-title, .widgettitle {
    color: $color__red;
    font-weight: 600;
}

.section-title {
    color: $color__red;
}

.single .entry-title, .page .entry-title, .archive .page-title, .search .page-title, .error404 .page-title {
    @include font-size(2.5);
    font-weight: 600;
    color: $color__white-lighter;
    line-height: 1.15;
    
    @media screen and (min-width: $query__tablet) {
        @include font-size(3);
    }
}

.widget_yarpp_widget h3 {
    color: $color__red;
    @include font-size(1.5);
}

