body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";


/*--------------------------------------------------------------
## Typography for menu and nav links
--------------------------------------------------------------*/

.menu-footer a, .menu-social a, .site-info {
    @include font-size(.85);
}

.footer-footnote {
    @include font-size(.7);
    margin-bottom: .5rem;
    p {
        margin: 0;
        color: $color__white;
    }
}

.footer-logo-description {
    margin-left: .5rem;
    color: $color__white;
    @include font-size(.9);
}