.widget {
	margin: 0 0 1.5rem;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}


/*******************************************************************/
/*                                                                 */
/*             YARP plugin                                         */
/*                                                                 */
/*******************************************************************/

.widget_yarpp_widget {
    max-width: $width-single-wrapper;
    @include margin-y(2rem);
    @include margin-x(2%);
    
    @media screen and (min-width: $width-single-wrapper) {
        @include margin-x(auto);
    }
    
    
    // YARPP only seen on posts not on pages
    .page &, .attachment & {
        display: none;
    }
    
    .yarpp-thumbnails-horizontal {
        
        // Undo some of YARPP default styling
        .yarpp-thumbnail {
            border: 0;
            @include margin-y(1rem);
            padding-bottom: 1rem;
            display: block;
            width: auto;
            height: auto;
            
            &>img {
                margin: 0;
            }
            
            
            // YARPP post has 2-column layout (post-thumbnail on the left and title on the right)
            @media screen and (max-width: $query__phone-large) {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                
                &>img {
                    flex: 0 0 60%;
                    height: auto;
                    
                    @supports (object-fit: cover) {
                        object-fit: cover;
                        max-height: 200px;
                    }
                }
                
                .yarpp-thumbnail-title {
                    margin-left: 1rem;
                }
            }
        } // end of YARPP posts =================================
        
        
        // YARPP has 2-column layout on tablet
        @media screen and (min-width: $query__phone-large) {
            display: flex;
            flex-flow: row wrap;
            
            .yarpp-thumbnail {
                flex-basis: 46%;
                @include margin-x(2%);
                border-bottom: 2px solid $color__white-dark;
            
                &>img {
                    width: 100%;
                    height: auto;
                    
                    @supports (object-fit: cover) {
                        height: 30vw;
                        object-fit: cover;
                    }
                }
                
                .yarpp-thumbnail-title {
                    text-align: center;
                    display: block;
                }
            }
        }
        
        // YARPP has 3-column layout on desktop
        @media screen and (min-width: $query__desktop-small) {
            .yarpp-thumbnail {
                flex-basis: 29.333%;
                
                &>img {
                    @supports (object-fit: cover) {
                        height: 15vw;
                    }
                }
            }
        }
        
        .yarpp-thumbnail-title {
            margin: 0;
            @include margin-y(.5rem);
            overflow: visible;
            width: auto;
        }
    }
} // end of YARPP widget =============================



/*******************************************************************/
/*                                                                 */
/*             SEARCH WIDGET                                       */
/*                                                                 */
/*******************************************************************/

.search-form {
    .search-field {
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
        width: 50%;
        max-width: 300px;
    }

    .search-submit {
        display: inline-block;
        color: $color__red;
        margin-left: -3rem;
    }    
}

.widget_search {
    @include padding-y(2rem);
    background-color: $color__red;
    text-align: center;
    
    // in case display:grid is not supported, site-header will have a max-width, 
    // widget_search should have a max-width too so that the layout is consistent.
    max-width: $query__desktop-large;
    @include margin-x(auto);

    @supports (display: grid) {
        max-width: initial;
    }
}



