/*--------------------------------------------------------------
## FRONT PAGE LAYOUT
--------------------------------------------------------------*/

// Wrap every components inside front page with a max-width and center them with margin-x auto
.home .site-main section:not(.intro-step) {
    max-width: $width-wrapper;
    @include margin-x(auto);
    @include margin-y(5rem);
}

.home .site-main {
    @media screen and (min-width: $query__tablet) {
        margin-top: 12rem !important; // make sure the phone demo-screenshot doesn't touch the .site-main
    }
    
    /******************************************/
    /*                                        */
    /*      First section: intro app          */
    /*                                        */
    /******************************************/
    
    .intro-app {
        &>* {
            @include margin-x(2%);
        }
        
        @media screen and (max-width: $query__tablet) {
            text-align: center;
            
            .intro-app-image {
                max-width: 300px;
                margin-bottom: 3rem;
            }
        }
        
        @media screen and (min-width: $query__tablet) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            @include margin-y(10rem);
            
            .intro-app-image {
                max-width: 280px;
                @media screen and (min-width: $query__tablet) {
                    max-width: 350px;
                }
                flex-basis: 40%; 
            }

            .intro-app-text {
                text-align: right;
                flex-basis: 50%;
            }
        }
    } //end of intro-app =======================================
    
    
    /************************************************/
    /*                                              */
    /*      Second section: intro step              */
    /* linked with _animations.scss and carousel.js */
    /************************************************/
    
    .intro-step {
        text-align: center;
        color: $color__white-lighter;
        position: relative;
        overflow: hidden;
        @include padding-y(2rem);
        background: linear-gradient(to right, rgba(246,87,98,.8), rgba(164,147,255,.8)), url('img/katherine-chase-493940-unsplash.jpg') center no-repeat;
        background-size: cover;
        
        // in case display:grid is not supported, site-header will have a max-width, 
        // intro-step should have a max-width too so that the layout is consistent.
        max-width: $query__desktop-large;
        @include margin-x(auto);
        
        @supports (display: grid) {
            max-width: initial;
        }
        
        .step-image { max-width: 100px; }
        
        .intro-step-main {
            max-width: $width-wrapper;
            margin: auto;
        
            .step {
                @include padding-x(2rem);
                @include padding-y(1rem);
                box-sizing: border-box;
            }
            
            @media screen and (min-width: $query__tablet) {
                display: flex;
                flex-flow: row wrap;

                .step {
                    margin: 1rem 2%;
                    flex: 1 0 21%;
                }
            }
        }
        
    } //end of intro-step ==================================
    
    
    
    .section-header { // heading of all section-category
        @media screen and (max-width: $query__tablet) {
            text-align: center;
            @include margin-x(2%);
        }
    }
    
    
    
    /************************************************/
    /*                                              */
    /*      Loop section                            */
    /*                                              */
    /************************************************/
    
    .section-category {
        .post {
            @include margin-x(2%);
            @include padding-y(1rem);
            box-sizing: border-box;
        }
        
        &:not(.section-story) .post {     
            border-bottom: 2px solid $color__white-dark;
        }

        .entry-title {
            @include margin-y(1rem);
        }

        .entry-meta, .entry-footer {
            color: $color__black-light;
        }
        
        
        // Make sure images on mobile views don't get higher than 70vh to increase readability
        @media screen and (max-width: $query__tablet) {
            .post-thumbnail img {
                
                @supports (object-fit: cover) {
                    max-height: 70vh;
                    object-fit: cover;
                }
            }
        }
        
        
        // Create a 3-column flex layout for section-discoveries and section-events
        @media screen and (min-width: $query__tablet) {
            display: flex;
            flex-flow: row wrap;
            
            .section-header {
                flex: 1 0 98%;
                margin-left: 2%;
            }   
            
            .post {
                @include margin-y(1rem);
                flex: 1 0 21%;
            }
            
            // Make sure all images have same height and since max-width=100%, with object-fit: cover, all images will have same sizes in the flex layout
            .post-thumbnail img {
                @supports (object-fit: cover) {
                    max-height: 300px;
                    min-height: 150px;
                    height: 18vw;
                    object-fit: cover;
                }
            }
        }
        
        
        // Create a special layout for section-story
        &.section-story {
            @media screen and (min-width: 500px) {
                display: flex;
                flex-flow: row wrap;
            }
            
            .section-header {
                // undo margin-x for heading in section-story 
                @include margin-x(0);
                margin-bottom: 1rem;
                flex-basis: 100%;
            }
            
            .entry-content {
                display: none;
            }
            
            .post {
                @include padding-y(2rem);
                @include margin-x(0);
                @include margin-y(0);
                
                @media screen and (max-width: $query__desktop-small) {
                    text-align: center;
                }
                
                // Insert the illustrative icons before the post instead of the usual post-thumnail
                &:before {
                    content: "";
                    background: url('img/svg/story-icon.svg') no-repeat center;
                    display: inline-block;
                    width: 100px;
                    
                    @media screen and (max-width: $query__desktop-small) {
                        height: 100px;
                    }
                }
            
                @media screen and (min-width: $query__desktop-small) {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;

                    &:before {
                        flex-basis: 100%;
                        align-self: center;
                    }
                }
                
            } //end of post
            
            .post:first-of-type { background: $color__red-darker; }
            .post:nth-of-type(2) { background: $color__blue-darker; }
            .post:nth-of-type(3) { background: $color__green; }
            .post:last-of-type { background: $color__pink-darker; }
            
            @media screen and (min-width: $query__phone-large) {
                .post { flex-basis: 50%; }
            }
            
            @media screen and (min-width: $query__tablet) and (max-width: $query__desktop-large) {
                // because from the breakpoint desktop large, margin-x has to be auto to make sure the section is centered
                @include margin-x(2%);
            }
            
            @media screen and (min-width: $query__desktop-large) {
                // from the breakpoint desktop large, put a margin-x on heading section-story to make sure it's aligned with the rest of the page
                .section-header { @include margin-x(2%); }
            }
                
        } //end of section-story
        
    } //end of section-category
    
} //end of home .site-main


