/*--------------------------------------------------------------
## Define the main color violet red and its different shades  
--------------------------------------------------------------*/
$color__violetred: #f2398e;
$color__violetred-dark: #ee0073;
$color__violetred-darker: #c50060;
$color__violetred-light: #f35aa0;
$color__violetred-lighter: #f396c0;


/*--------------------------------------------------------------
## Define the main color web orange and its different shades  
--------------------------------------------------------------*/
$color__weborange: #ffa800;
$color__weborange-dark: #ff9400;
$color__weborange-darker: #d57c00;
$color__weborange-light: #ffb632;
$color__weborange-lighter: #ffc765;


/*--------------------------------------------------------------
## Define the support colors: blue, red and pink              
--------------------------------------------------------------*/
$color__blue: #a493ff;
$color__blue-dark: #907bff;
$color__blue-darker: #7359ff;

$color__red: #f65762;
$color__red-dark: #f5434f;
$color__red-darker: #f41e2d;

$color__pink: #f58ca3;
$color__pink-dark: #f36f8c;
$color__pink-darker: #f0486d;

/*--------------------------------------------------------------
## Define the colors black and white                          
--------------------------------------------------------------*/
$color__white: #e8e8e8;
$color__black: #2d2d2d;

$color__background-header: #fff;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
