a {
	color: $color__red-dark;
        text-decoration: none;

	&:hover, &:focus, &:active {
		color: $color__red-darker; 
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover, &:active {
		outline: 0;
	}
        
}

.entry-title a {
    color: $color__black;
    &:hover {
        color: $color__black-light;
    }
}

.our-story {
    a, .entry-title a {
        color: $color__white-lighter;
        &:hover {
            color: $color__white-dark;
        }
    }
}



.current-menu-item a {
        color: $color__red-darker; 
}


/*--------------------------------------------------------------
## Menu Header (nav '.main-navigation' > ul '.menu-header')
--------------------------------------------------------------*/
.main-navigation {
    .current-menu-item a, a:hover {
        box-shadow: 0 -3px inset $color__white-lighter;
    }
}

.header-content a {
    @include font-size(.9);
    display: inline-block;
    text-transform: uppercase;
    margin: 1rem 1rem 0 0;
    padding: 1rem 1.5rem;
    background: $color__blue-dark;
    border-radius: 2rem;
    transition: all .5s ease;

    &:hover {
        background: $color__blue-darker;
    }
    
    &::before {
        font-family: $font__fontawesome;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webit-font-smoothing: antialised;
    }
}

.ios::before {
    content: '\f179';
}

.android::before {
    content: '\f17b';
}


/*--------------------------------------------------------------
## Menu Footer
--------------------------------------------------------------*/
.menu-footer a {
    color: $color__black-light;
    &:hover {
        color: $color__red-darker;
    }
}

/*--------------------------------------------------------------
## Menu Social (div '.social-navigation' > ul '.menu-social')
--------------------------------------------------------------*/
.menu-social {
    a {
        color: $color__black-light;
        &:hover {
            color: $color__red-darker;
        }
    }
    
    a span {
        display: block;
    }
    
    a::before {
        font-family: $font__fontawesome;
        @include font-size(1.5);
    
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webit-font-smoothing: antialised;
    }
        
    a[href*='facebook']:before {
            content: '\f082';
    }
    
    a[href*='twitter']:before {
            content: '\f099';
    }
    
    a[href*='instagram']:before {
            content: '\f16d';
    }
    
    a[href*='pinterest']:before {
            content: '\f0d2';
    }
    
    a[href*='youtube']:before {
            content: '\f167';
    }
    
}
