.comment-navigation,
.posts-navigation,
.post-navigation {
        @media screen and (max-width: $width-single-wrapper) {
            @include margin-x (2%);
        }

	.site-main & {
		margin-bottom: 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    .single .entry-content &, .page .entry-content & {
        list-style-type: inherit;
        margin-left: 1.5rem;
        padding-left: 1rem;
    }
}

/*--------------------------------------------------------------
## Menu Header (nav '.main-navigation' > ul '.menu-header')
--------------------------------------------------------------*/

@media screen and (max-width: $query__tablet) {
    .main-navigation {
        text-align: right;
        position: relative;
    }
    
    
    .menu-header {
        display: none;
        flex-flow: row wrap;
        position: absolute;
        right: 0;
/*        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        background: #fff;
        color: black;
        @include padding-x(2rem);
        @include padding-y(2rem);
        z-index: -10;*/
        
        li {
            @include padding-x(1rem);
            @include margin-y(.6rem);
            
            a {
                color: $color__black;
            }
        }
    }
    
    
    #button-menu-header {
        display: inline-block;
        padding: .5rem 3px;
        /*z-index: 10;*/
        
/*        &.button-close span {
            color: red;
            
            &:before {
                content: "\f00d";
            }
        }*/
    }
}
    
@media screen and (min-width: $query__tablet) {
    #button-menu-header {
        display: none;
    }
    
    .menu-header {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        @include padding-y(.5rem);
        
        li {
            flex-grow: 1; 
        }
    }
}

/*.menu-header.expanded {
    display: flex;
}*/

/*--------------------------------------------------------------
## Menu Footer (nav '.footer-navigation' > ul '.menu-footer')
--------------------------------------------------------------*/

.footer-nav-container {
    .menu {
        @include margin-y(1rem);
    }
    
    li {
        @include padding-x(1rem);
    }

    @media screen and (max-width: $query__tablet) {
        li {
            @include padding-x(1rem);
            display: inline-block;
        }
    }
    
    @media screen and (min-width: $query__tablet) {
        .menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            @include margin-y(.5rem);
        }
    }
}