.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		/*display: block;*/
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
## Menu Header (nav '.main-navigation' > ul '.menu-header')
--------------------------------------------------------------*/
.ios::before, .android::before {
        font-family: $font__fontawesome;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webit-font-smoothing: antialised;
}

.ios::before {
    content: '\f179';
}

.android::before {
    content: '\f17b';
}

/*--------------------------------------------------------------
## Menu Footer (nav '.footer-navigation' > ul '.menu-footer')
--------------------------------------------------------------*/
.menu-footer a, .menu-social a {
    color: $color__red;
    &:hover {
        color: $color__pink;
    }
}


/*--------------------------------------------------------------
## Menu Social (div '.social-navigation' > ul '.menu-social')
--------------------------------------------------------------*/
.menu-social {
    
    a span {
        display: block;
    }
    
    a::before {
        font-family: $font__fontawesome;
        @include font-size(1.5);
    
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webit-font-smoothing: antialised;
    }
        
    a[href*='facebook']:before {
            content: '\f082';
            
            &:hover {
                color: $color__link-hover;
            }
    }
    
    a[href*='twitter']:before {
            content: '\f081';
    }
    
    a[href*='instagram']:before {
            content: '\f16d';
    }
    
    a[href*='pinterest']:before {
            content: '\f0d3';
    }
    
    a[href*='youtube']:before {
            content: '\f431';
    }
    
}

/*--------------------------------------------------------------
## 
--------------------------------------------------------------*/
