.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5rem;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1rem;
}


/************************************************/
/*                                              */
/*      SINGLE PAGE-LAYOUT                      */
/*                                              */
/************************************************/

.single:not(.attachment) {
    .header-background img {
        @supports (object-fit: cover) {
            object-position: 50% 95%;
        }
    }
    
    
    // Make the top part of the post thumbnail overlap with the header
    .post-thumbnail {
        margin-top: -4rem;
            
        @media screen and (min-width: $query__desktop-small) {
            margin-top: -6rem;
        }
        
        
        // Make sure post thumbnails don't get longer than 90vh on mobile views
        img {
            @supports (object-fit: cover) {
                max-height: 90vh;
                object-fit: cover;
            }
        }
    }

    .entry-header {
        display: table-cell;
            
        @supports (display: grid) {
            grid-column: 1/-1;
            align-self: start;
            
            // Only on posts which has category 'story', .entry-header will be vertically centered in grid-cell to have more balance
            &.entry-header-story {
                align-self: center;
            }
        }
        
        width: $width-single-wrapper;
        @include margin-x(2%);
    
        @media screen and (min-width: $width-single-wrapper) {
            @include margin-x(auto);
        }
    }
} // end of single page layout ==========================================



/**************************************************************************************************/
/*                                                                                                */
/*   Put max-width on and center all components on .single, .page, .archive, .search, .error404   */
/*                                                                                                */
/**************************************************************************************************/

.single, .page, .attachment {
    .content-area {
        max-width: $width-single-wrapper;
        @include margin-x(auto);
    }
    
    @media screen and (max-width: $width-single-wrapper) {
        .entry-content, .entry-footer {
            @include margin-x(2%);
        }
    }
    
    
    // Make sure ul has the same margin as p in .entry-content in posts & pages
    .entry-content ul {
        margin-bottom: 1rem;
    }
}

.archive, .search, .error404 {
    .content-area {
        max-width: $width-wrapper;
        margin: 2rem auto;
    }
} // end of put max-width =======================================




