.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5rem;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1rem;
}


/************************************************/
/*                                              */
/*      SINGLE PAGE-LAYOUT                      */
/*                                              */
/************************************************/

.single:not(.attachment) {
    .header-background img {
        @supports (object-fit: cover) {
            object-position: 50% 95%;
        }
    }
    
    
    // Make the top part of the post thumbnail overlap with the header
    .post-thumbnail {
        margin-top: -4rem;
            
        @media screen and (min-width: $query__desktop-small) {
            margin-top: -6rem;
        }
        
        
        // Make sure post thumbnails don't get longer than 100vh on mobile views
        img {
            @supports (object-fit: cover) {
                max-height: 90vh;
                object-fit: cover;
            }
        }
    }

    .entry-header {
        display: table-cell;
            
        @supports (display: grid) {
            grid-column: 1/-1;
            align-self: start;
            
            // Only on posts which has category 'story', .entry-header will be vertically centered in grid-cell to have more balance
            &.entry-header-story {
                align-self: center;
            }
        }
        
        width: $width-single-wrapper;
        @include margin-x(2%);
    
        @media screen and (min-width: $width-single-wrapper) {
            @include margin-x(auto);
        }
    }
} // end of single page layout ==========================================



/**************************************************************************************************/
/*                                                                                                */
/*   Put max-width on and center all components on .single, .page, .archive, .search, .error404   */
/*                                                                                                */
/**************************************************************************************************/

.single, .page {
    .content-area {
        max-width: $width-single-wrapper;
        @include margin-x(auto);
    }
    
    @media screen and (max-width: $width-single-wrapper) {
        .entry-content, .entry-footer {
            @include margin-x(2%);
        }
    }
    
    
    // Make sure ul has the same margin as p in .entry-content in posts & pages
    .entry-content ul {
        margin-bottom: 1rem;
    }
}

.archive, .search, .error404 {
    .content-area {
        max-width: $width-wrapper;
        margin: 2rem auto;
    }
} // end of put max-width =======================================


/************************************************/
/*                                              */
/*      PAGE & ATTACHMENT PAGE-LAYOUT           */
/*                                              */
/************************************************/

// On pages and attachment pages, since there's no custom fields, the title should be centered
.page, .attachment {
    .entry-header {
        display: table-cell;
        
        @supports (display: grid) {
            grid-column: 1/-1;
            align-self: center;
        }
            
        width: $width-single-wrapper;
        @include margin-x(2%);
    
        @media screen and (min-width: $width-single-wrapper) {
            @include margin-x(auto);
        }
    }
}


// Create a half-border-bottom after the title only on .single (not on attachment pages) and .archive
.single:not(.attachment) .entry-title, .archive .page-title {
        margin: 1rem 0;
        &:after {
            content: "";
            width: 100px;
            height: 3px;
            background: $color__white-lighter;
            display: block;
            margin-top: .5rem;
        }
}

// Only on posts which has category 'story', .entry-title will not have a half-border-bottom (since they don't have custom fields)
.single .entry-header-story .entry-title:after {
    display: none;
}


/*******************************************************************/
/*                                                                 */
/*               ARCHIVE / SEARCH PAGE-LAYOUT                      */
/*                                                                 */
/*******************************************************************/

.archive, .search {
    .page-header {
        display: table-cell;
        @include margin-x(2%);
        
        @supports (display: grid) {
            grid-column: 2/-2;
            align-self: center;
        }
    }
    
    .entry-title {
        @include margin-y(1rem);
    }
    
    .site-main {
        @media screen and (max-width: $query__tablet) {
            @include margin-x(2%);
        }
        
        @media screen and (min-width: $query__tablet) {
            display: flex;
            flex-flow: row wrap;
            
            .navigation {
                flex: 1 0 98%;
            }   
            
            .post {
                @include margin-x(2%);
                @include margin-y(1rem);
                flex-basis: 46%;
                border-bottom: 2px solid $color__white-dark;
                @include padding-y(1rem);
            }

            .post-thumbnail img {
                @supports (object-fit: cover) {
                    height: 30vw;
                    min-height: 150px;
                    max-height: 300px;
                    object-fit: cover;
                }
            }
        }
        
        @media screen and (min-width: $query__desktop-small) {
            .post {
                flex-basis: 29.333%;
            }
            
            .post-thumbnail img {
                @supports (object-fit: cover) {
                    height: 18vw;
                }
            }
        }
    }
} // end of ARCHIVE & SEARCH layout ============================================
        

/*******************************************************************/
/*                                                                 */
/*               404 & SEARCH-NONE LAYOUT                          */
/*                                                                 */
/*******************************************************************/

.error404 {
    .page-header {
        display: table-cell;
        @include margin-x(2%);
        
        @supports (display: grid) {
            grid-column: 2/-2;
            align-self: center;
        }
    }
}
    
.error404, .search-no-results {
    
    // Only on 404 and search-no-results, site-header will have only colors and no background images
    .site-header:before {
        opacity: 1; 
    }
    
    .site-main {
        @include margin-x(2%);
    }
    
    .page-content {
        @media screen and (min-width: $query__tablet) {
            display: flex;
            flex-flow: row wrap;
            
            p, .search-form {
                flex-basis: 100%;
            }
            
            p {
                margin-bottom: 0;
            }
            
            .search-form {
                @include margin-y(1rem);
            }
            
            .widget {
                flex: 1 0 50%;
            }
        }
    }
} // end of 404 & SEARCH-NONE layout ==============================



/*******************************************************************/
/*                                                                 */
/*      ATTRIBUTION PAGE (SOURCES of MEDIA) (#id117)               */
/*                                                                 */
/*******************************************************************/

.page-id-117 .post-117 .entry-content {
    text-align: center;
    
    div {
        @include margin-y(1rem);
        @include padding-y(1rem);
        border-bottom: 2px solid $color__white-dark;
    }
    
    @media screen and (min-width: $query__tablet) {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        
        p:first-of-type, p:nth-of-type(2) {
            flex-basis: 98%;
            @include margin-x(2%);
/*            @include font-size(1.2rem);
            font-weight: 600;*/
        }
        
        div {
            flex-basis: 46%;
            @include margin-x(2%);
        }
    }
} // end of ATTRIBUTION page ================================


/*******************************************************************/
/*                                                                 */
/*                   ABOUT US PAGE (#id16)                         */
/*                                                                 */
/*******************************************************************/

.page-id-16 {
    .entry-content {
        img { border-radius: 50%; }
        .about-member {
            @include margin-y(1.5rem);
            @include padding-y(.5rem);
            border-bottom: 2px solid $color__white-dark;
        }
        
        @media screen and (max-width: $query__tablet) {
            .about-member-img {
                text-align: center;
            }
        }
        
        @media screen and (min-width: $query__tablet) {
            
            .about-member {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                
/*                &>* {
                    flex-grow: 1;
                }*/
                
                p:first-of-type {
                    flex-basis: 40%;
                }
                
                .about-member-text {
                    flex-basis: 55%;
                }
            }
            
        }
    }
}